<div id="letter">
    <p>Dear miss Jennifer Aniston
    {{#if description}}
        <br> this letter is 4 u! we, your devoted fans wrote it together!<br>
        the following is a seqeuntially built text, generated chronologically by all the signing partiicipants of this site :)
    </p> {{/if}}
    <p id="lettertext"> {{letter}} </p>
</div>


<!-- <script src = '/letter.js'></script> -->
