<h1> delete signature</h1>
<div id="deletesignature-page">
    <div id=deletesignature>
    <p>{{text}} <3 </p>
    <img src={{image}} alt="u really wanna delete your signature?">
</div>

<a href="/petition"> go back to the letter </a>


{{> usermenu}}



<script src = '/canvas.js'></script>
