
<div id="frontpage" >
    <img class="coverimage" src="backgroundimage.png" alt="aniston is fantastic right?">

        <div id="ticker1">
        <div class="headlines">
            <a href="/documentation">WELCOME JENNIFER ANISTON SUPERFANS</a><a href="/tarotcards">💕 WE LOVE U 💕</a><a href="/merch">follow the guru</a>
            <a href="/documentation">JENNIFER ANISTON SUPERFANS</a><a href="/tarotcards">💕 TAROT CARDS 💕</a><a href="/merch">GET YOUR MERCH</a>
        </div>
        </div>

        <div id="ticker2">
        <div class="headlines">
            <a href="/tarotcards">💕 WE LOVE U 💕</a><a href="/documentation">WELCOME JENNIFER ANISTON SUPERFANS</a><a href="/merch">follow the guru</a>
            <a href="/tarotcards">💕 WE LOVE U 💕</a><a href="/documentation">JENNIFER ANISTON SUPERFANS</a><a href="/tarotcards">💕 TAROT CARDS 💕</a><a href="/merch">GET YOUR MERCH</a>
        </div>
        </div>

        <div id="ticker3">
        <div class="headlines">
            <a href="/merch">follow the guru</a><a href="/documentation">WELCOME JENNIFER ANISTON SUPERFANS</a><a href="/merch">follow the guru</a><a href="/tarotcards">💕 WE LOVE U 💕</a><a href="/merch">follow the guru</a>
            <a href="/documentation">JENNIFER ANISTON SUPERFANS</a><a href="/tarotcards">💕 TAROT CARDS 💕</a><a href="/merch">GET YOUR MERCH</a>
        </div>
        </div>

        <div id="ticker4">
        <div class="headlines">
            <a href="/documentation">WELCOME JENNIFER ANISTON SUPERFANS</a><a href="/tarotcards">💕 WE LOVE U 💕</a><a href="/merch">follow the guru</a>
            <a href="/documentation">JENNIFER ANISTON SUPERFANS</a><a href="/tarotcards">💕 TAROT CARDS 💕</a><a href="/merch">GET YOUR MERCH</a>
        </div>
        </div>

        <div id="ticker5">
        <div class="headlines">
            <a href="/documentation">WELCOME JENNIFER ANISTON SUPERFANS</a><a href="/tarotcards">💕 WE LOVE U 💕</a><a href="/merch">follow the guru</a>
            <a href="/documentation">JENNIFER ANISTON SUPERFANS</a><a href="/tarotcards">💕 TAROT CARDS 💕</a><a href="/merch">GET YOUR MERCH</a>
        </div>
        </div>

        <div id="ticker6">
        <div class="headlines">
            <a href="/tarotcards">💕 TAROT CARDS 💕</a><a href="/merch">follow the guru</a><a href="/documentation">WELCOME JENNIFER ANISTON SUPERFANS</a><a href="/tarotcards">💕 WE LOVE U 💕</a><a href="/merch">follow the guru</a>
            <a href="/documentation">JENNIFER ANISTON SUPERFANS</a><a href="/tarotcards">💕 TAROT CARDS 💕</a><a href="/merch">GET YOUR MERCH</a>
        </div>
        </div>

        <div id="ticker7">
        <div class="headlines">
            <a href="/documentation">WELCOME JENNIFER ANISTON SUPERFANS</a><a href="/tarotcards">💕 WE LOVE U 💕</a><a href="/merch">follow the guru</a>
            <a href="/documentation">JENNIFER ANISTON SUPERFANS</a><a href="/tarotcards">💕 TAROT CARDS 💕</a><a href="/merch">GET YOUR MERCH</a>
        </div>
        </div>

        <div id="ticker8">
        <div class="headlines">
            <a href="/documentation">WELCOME JENNIFER ANISTON SUPERFANS</a><a href="/tarotcards">💕 WE LOVE U 💕</a><a href="/merch">follow the guru</a>
            <a href="/documentation">JENNIFER ANISTON SUPERFANS</a><a href="/tarotcards">💕 TAROT CARDS 💕</a><a href="/merch">GET YOUR MERCH</a>
        </div>
        </div>
        
        <div id="ticker9">
        <div class="headlines">
            <a href="/documentation">WELCOME JENNIFER ANISTON SUPERFANS</a><a href="/tarotcards">💕 WE LOVE U 💕</a><a href="/merch">follow the guru</a>
            <a href="/documentation">JENNIFER ANISTON SUPERFANS</a><a href="/tarotcards">💕 TAROT CARDS 💕</a><a href="/merch">GET YOUR MERCH</a>
        </div>
        </div>

    <img class="coverimage coverimagetop" src="head.png" alt="aniston is fantastic right?">

    <script src = '/script.js'></script>
</div>
