<div id="letter">
    <p>dear miss Aniston, this letter is 4 u, from all your most devoted fans. We wrote it together, signed it and send it off! <br> the following is a seqeuntially built text, created in parts of max 180 character size</p>
</div>

<form id="subscriber_information" action="/signature" method="POST">
    <input class="first_name" placeholder="pls input your first name"> </input>
    <input class="last_name" placeholder="and now your last name... friend"> </input>
    <input class="message" placeholder="u have 180 characters to add to our letter to miss Jennifer Aniston"> </input>
    <input id="secretsignature"></input>
    <canvas id="signature"> </canvas>
    <button id="submit" > LOVE IT! SEND IT </button>
</form>



<script src = '/canvas.js'></script>
<!-- <script src = '/submit.js'></script> -->
