

{{> letter description=true}}

<form id="subscriber_information" action="/signature" method="POST">
    <!-- <input name="firstName" id="firstName" placeholder="pls input your first name"> </input>
    <input name="lastName" id="lastName" placeholder="and now your last name... friend"> </input> -->
    <input name="message" id="message" placeholder="u have 180 characters to add to our letter to miss Jennifer Aniston"> </input>
    <input name="signature" id="secretsignature"></input>
    <!-- <input type="hidden" name="_crsf" value="{{csrfToken}}"> -->
    <p id="signers"> xoxo love from ... {{name}} </p>
    <canvas id="signature" width="600" height="100"> </canvas>
    <button type="submit" id="submit" > LOVE IT! SEND IT </button>
</form>



<script src = '/canvas.js'></script>
