<div class="thankyou">
<a href="/superfans"> <img src="anistongif.gif" alt="aniston is gr8" id="happyanistongif"> </img> </a>
{{> letter}}
<p id="signers"> xoxo love from ... <br> {{names}} </p>
<img src="{{signature}}" >
<!-- <h1> she is going to love this </h1> -->
</div>
