@font-face {
    font-family: "friends"; /*a name to be used later*/
    src: url("GABRWFFR.TTF"); /*URL to font*/
}
@keyframes gradientAnimator {
    0% {
        background-position: 34% 0%;
    }
    50% {
        background-position: 67% 100%;
    }
    100% {
        background-position: 34% 0%;
    }
}
/* main layout */
body {
    box-sizing: border-box;
    background: linear-gradient(
        180deg,
        #89ffd2,
        #e9ff89,
        #89fffb,
        white,
        #89ffd2
    );
    background-size: 100% 10000%;
    animation: gradientAnimator 40s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}
#frontpage {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 10px;
    left: 0;
}

#frame {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999999999;
    pointer-events: none;
    /* -webkit-animation: glow 10s ease-in-out infinite alternate;
    -moz-animation: glow 10s ease-in-out infinite alternate;
    animation: glow 10s ease-in-out infinite alternate; */
}
@-webkit-keyframes glow {
    from {
        box-shadow: inset 0 0 50px #ffe900,
            /* inner white */ inset 20px 0 80px #f0f,
            /* inner left magenta short */ inset -20px 0 80px #0ff,
            /* inner right cyan short */ inset 10px 0 10px #f0f,
            /* inner left magenta broad */ inset -20px 0 3px #0ff,
            /* inner right cyan broad */ 0 0 100px #ffe900,
            /* outer white */ -10px 0 80px #f0f,
            /* outer left magenta */ 10px 0 10px #0ff; /* outer right cyan */
    }
    to {
        box-shadow: inset 0 0 50px #ffe900,
            /* inner white */ inset 10px 0 10px #f0f,
            /* inner left magenta short */ inset -20px 0 80px #0ff,
            /* inner right cyan short */ inset 20px 0 10px #f0f,
            /* inner left magenta broad */ inset -20px 0 10px #0ff,
            /* inner right cyan broad */ 0 0 10px #ffe900,
            /* outer white */ -10px 0 80px #f0f,
            /* outer left magenta */ 10px 0 10px #0ff; /* outer right cyan */
    }
}
/* general */
.coverimage {
    width: 100%;
    height: 100%;
    display: cover;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}
.coverimagetop {
    pointer-events: none;
    z-index: 99999999999999;
}
.headlines {
    white-space: nowrap;
    position: absolute;
    z-index: 8;
    font-size: 80px;
    font-family: "friends";
    left: 100%;
}

a {
    padding-right: 40px;
    text-decoration: none;
    color: white;
}

a:hover {
    color: yellow;
    text-decoration: underline;
}

#ticker1 {
    position: relative;
    overflow: hidden;
    height: 80px;
}
#ticker2 {
    position: relative;
    overflow: hidden;
    height: 80px;
}
#ticker3 {
    position: relative;
    overflow: hidden;
    height: 80px;
}
#ticker4 {
    position: relative;
    overflow: hidden;
    height: 80px;
}
#ticker5 {
    position: relative;
    overflow: hidden;
    height: 80px;
}
#ticker6 {
    position: relative;
    overflow: hidden;
    height: 80px;
}
#ticker7 {
    position: relative;
    overflow: hidden;
    height: 80px;
}
#ticker8 {
    position: relative;
    overflow: hidden;
    height: 80px;
}
#ticker9 {
    position: relative;
    overflow: hidden;
    height: 80px;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    z-index: 99999999999999;
}
